.custom-divider .ant-divider-inner-text {
    color: inherit;
    font-size: 20px;
}
@media screen and (max-width: 1024px) {
    .custom-divider .ant-divider-inner-text {
        color: inherit;
        font-size: 15px;
    }
}
.custom-divider.ant-divider-horizontal.ant-divider-with-text-left::before,
.custom-divider.ant-divider-horizontal.ant-divider-with-text-left::after {
    border-top: 1px solid #93B3A5; /* Change the color to #93B3A5 */
}

.description {
    font-size: 20px;
}

.custom-panel {
    background: white !important;
    font-size: 18px; 
  }
  
.quote{
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.equation{
    display: 'block';
    text-align: center;
}